@import "./Colors";

.root {
  width: 100vw;
  height: 100vh;
  
  background: $default;
  transition: background-color 1s ease-out;
}

.hotColor {
  background: $hot;
}

.warmColor {
  background: $warm;
}

.normalColor {
  background: $normal;
}

.coldColor {
  background: $cold;
}

.freezingColor {
  background: $freezing;
}

.container {
  box-sizing: border-box;
  
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  .container {
    width: 780px;
    margin: 0 auto;
  }
}

