
.slide {
  animation: slide 0.5s ease-in-out;
  animation-fill-mode: both;
}

.fade {
  animation: fade 0.7s ease-out;
  animation-fill-mode: both;
}

@keyframes slide {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}