.card {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 5rem;
}

.temperature {
  white-space: nowrap;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  text-align: center;
}